{:paths ["src" "lib"]
 :deps {techascent/tech.ml.dataset {:mvn/version "7.032"}
        techascent/tech.ml.dataset.sql {:mvn/version "7.000-beta-52"}
        net.java.dev.jna/jna {:mvn/version "5.13.0"}}
 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
   :ns-default build}
  :test
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  ;;Writes docs into docs/index.html
  ;;clj -X:codox
  :codox
  {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}
                com.cnuernber/codox {:mvn/version "1.001"}}
   :exec-fn codox.main/-main
   :exec-args {:group-id "com.techascent"
               :artifact-id "tmducken"
               :version "0.10.1"
               :name "TMDucken"
               :description "Clojure bindings for duckdb"
               :metadata {:doc/format :markdown}
               :html {:transforms [[:head] [:append [:script {:async true
                                                              :src "https://www.googletagmanager.com/gtag/js?id=G-XJYNJF48RM"}]]
                                   [:head] [:append [:script "window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XJYNJF48RM');"]]]}
               :themes [:rdash]
               :source-paths ["src"]
               :output-path "docs"
               :doc-paths ["topics"]
               :source-uri "https://github.com/techascent/tmducken/blob/master/{filepath}#L{line}"
               :namespaces [tmducken.duckdb]}}
  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? true
               :artifact "target/tmducken.jar"}}
  :install
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :local
               :artifact "target/tmducken.jar"}}

  }
 }
